.wrapper{
	margin-top: 0px;
	margin-bottom: 0px;
}

.about__container{
	height: 800px;
	background-color: grey;
	width: 500px;
	margin: 0 auto;
}

.documents__container{
	height: 1300px;
	background-color: black;
	width: 500px;
	margin:0 auto;
}

.download__container{
	height: 800px;
	background-color: grey;
	width: 500px;
	margin:0 auto;
}

.people__container{
	height: 1200px;
	background-color: grey;
	width: 500px;
	margin: 0 auto;
}

.people__image1{
	background-color: black;
	border-radius:50%;
	width: 80px;
	margin: 0 auto;
	url(http://media.ign.com/boards/images/icons3/familyguy_jesus.gif);
}

.people__name1{
	width: 100%;
	height: 50px;
	background-color: white;
}